*{
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
    margin: 0 !important;
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  header{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(rgba(0, 46, 253, 0.26)), url("../images/login-bg.jpg");
	background-position: center;
    .box{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 350px;
        padding: 40px;
        position: absolute;
        border-radius: 20px;
   
        background: #ffffffd5;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
        a{
            margin-left: 30px;
        }
        .remember{

            padding-top: 20px;
        }
        .social{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
                filter: drop-shadow(2px 10px 20px rgba(0,0,0,0.2));
            }
        }
      }


  }

  .box h1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    
  }
  .box input[type = "text"],.box input[type = "password"]{
      margin-top: 20px;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #002fff;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: rgb(24, 24, 24);
    border-radius: 10px;
    transition: 0.25s;
    transition: .3s linear;
    font-size: 1rem;
    font-weight: 500;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 300px;
    border-color: #00e1ff;
    transition: .3s linear;
    
  }
  .box input[type = "checkbox"]{
      margin-right: 20px;
  }
  .box input[type = "submit"]{
    border:0;
    font-size: 1rem;
    font-weight: 500;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #0eccd3;
    padding: 14px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: .3s linear;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #3201b9;
    color: white;
  }
  